#logo{
    height: 30px;

}
.gameboard{
    display: inline-block;
    text-align: center;
    max-width: 600px;
    margin: 0 25% 0 25%;
}
.covered{
    display: inline-block;
    height: 150px;
    width: 130px;
    /*background-image: url(http://www.lostvalleyobservatory.com/sitebuildercontent/sitebuilderpictures/pelican.best.web.lrprgb.overlay.jpg);*/
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    margin: 5px;

}
.uncovered{
    display: inline-block;
    height: 150px;
    width: 130px;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    margin: 5px;
}